html body{
    height: 100vh;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container1{
    flex-grow: 3;
    margin: 10px;
}

.container2{
    flex-grow: 3;
    margin: 10px;
}

.container3{
    flex-grow: 1;
    margin: 10px;
}

.container1, .container2, .container3, header, nav, section, footer{
    border: 10px solid black;
}

/*1*/
.container1{
    display: flex;
    flex-direction: column;
}

header, nav{
    flex-grow: 0.5;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2d4059;
}

.p1, .p3{
    flex-grow: 1;
}

.p2{
    flex-grow: 3;
}

.p1, .p2, .p3{
    background-color: #ea5455;
    margin: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f07b3f;
}

.p4{
    flex-grow: 1;
    background-color: #fed460;
    margin: 15px;
}

/*2*/
.container2{
    display: flex;
    flex-direction: column;
    border-color: rgba(229, 255, 0, 0.959);
}

.section1{
    flex-grow: 7;
    border-color: rgba(229, 255, 0, 0.959);
}

.section2{
    flex-grow: 3;
    border-color: rgba(229, 255, 0, 0.959);
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4e4e6a;
}

.a{
    flex-grow: 2;
}

.b{
    flex-grow: 1;
}

.a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.p5, .p6, .p7, .p8{
    flex-basis: 40%;
    background-color: #1f6cb0;
    padding: 15px;
}

.p9{
    flex-grow: 1;
    background-color: #70a3c4;
    padding: 15px;
    margin: 10px;
}


.section2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: #f73f52;
}

.p10, .p11{
    width: 200%;
    background-color: #feea85;
    padding: 10px;
    margin: 10px 10px;
}


/*3*/

footer{
    height: 70%;
    background-color: #e6af2e;
}